@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: rgb(128, 196, 196);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
     margin: 0%;
    height: 1000px;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 35px;
    
}
h2{
    text-align: center;
    font-weight: 600;
}


header{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 0 0 1rem rgb(114, 109, 109);
}

#cab{
    display: flex;
}

#lado{
    list-style-type: none;
    cursor: pointer;
    color:  rgb(128, 196, 196);
    padding-left: 3rem;
    font-weight: 600;
    font-size: 30px;
    margin: 8px;
}

#jogadores{
        width: 40%;
        border-radius: 30px;
        box-shadow: 0 0 1rem rgb(161, 153, 153);
}

#man{
     width: 40%;
}

#palm{
     width: 40%;
     border-radius: 30px;
     box-shadow: 0 0 1rem rgb(161, 153, 153);
}
#timesonho{
    border-radius: 30px;
    box-shadow: 0 0 1rem rgb(161, 153, 153);
}
#esc{
    width: 40%;
}
.conteudo-principal{
    text-align: center;
}
.conteudo-lista{
    text-align: center;
}
.meutime{
    text-align: center;
}
p{
    text-align: left;
}
li{
    text-align: left;
}

#blu{
       color: rgb(128, 196, 196) ; 
    }

footer{
    background-color: antiquewhite;
    box-shadow: 0 0 1rem rgb(161, 153, 153);
    height: 200px;
    display: flex;
    margin-top: 100px;
}
#roda{
    padding-left: 3rem;
    margin: 8px;
}
a:link {
    color: rgb(128, 196, 196) ; 
    text-decoration: none;
  }

a:visited{
    color: rgb(128, 196, 196) ; 
}
a:hover , a:active{
    color: blue;
}
