@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: rgb(128, 196, 196);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    margin: 0%;
    height: 1000px;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 0 0 1rem rgb(161, 153, 153);
}

ul{
    display: flex;
}

#lado{
    list-style-type: none;
    cursor: pointer;
    color:  rgb(128, 196, 196);
    padding-left: 3rem;
    font-weight: 600;
    font-size: 30px;
    margin: 8px;
}
.j{
    background-color: antiquewhite;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 1000px;
    border-radius: 30px;


    h1{

        color: rgb(128, 196, 196);;
    }
    
}
.perfil{
    display: flex;
}

#j{
    width: 250px;
    border-radius: 30px;

}
.texto{
    text-align: center;
    width: 700px;
    height: 260px;
}
#blu{
       color: rgb(128, 196, 196) ; 
    }
.contato{

    height: 50px;
    width: 300px;
    margin-left: 20px;
}
.foto{
    height: 250px;
    width: 250px;
    margin: 8px;
    
}
#icone{
    width: 10%;
    padding-right: 0,5rem;
    padding-left: 0,5rem;
   transition: 500ms linear;
}
#icone:hover{
    transform: scale(1.2);
}
footer{
    background-color: antiquewhite;
    box-shadow: 0 0 2rem rgb(114, 109, 109);
    height: 200px;
    display: flex;
    margin-top: 300px;
}
#roda{
    padding-left: 3rem;
    margin: 8px;
}
a:link {
    color: rgb(128, 196, 196) ; 
    text-decoration: none;
  }
  a:visited{
    color: rgb(128, 196, 196) ; 
}
a:hover , a:active{
    color: blue;
}